{% extends 'base.html' %}
{% load static %}


{% block title %}
    Mohit's Portfolio
{% endblock title %}
    

{% block content %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container-fluid">
            <h1 class="display-4">Namaste!!!</h1>
            <h2 class="display-5">I'm Mohit Mishra</h2>
            <img src="{% static 'IMG2.png' %}" class="rounded img-fluid" alt="Cinque Terre"> 
            <p class="lead text-muted">Hi, everyone. I am learning to program in web. And as the first attempt, I am
                creating this personal resume and blog. Do check my poems. I hope you like them.</p>
            <p>
                <a href="mailto:mrmohitmishra@gmail.com" class="btn btn-primary my-2">Contact Me</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for job in jobs.all %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" width="100%" height="225"
                             preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" src="{{ job.image.url }}">
                        <div class="card-body">
                            <p class="card-text">{{job.summary}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a name="" id="" class="btn btn-sm btn-outline-secondary" href="{{ job.image.url }}" role="button">View</a>
                                    
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

</main>

{% endblock content %}