{% extends 'base.html' %}
{% load static %}
{% block title %}
  aah se upja gaan
{% endblock title %}


{% block style %}
<link rel="stylesheet" href='{% static "blog2.css" %}'>
  
{% endblock style %}
  

{% block content %}

<main role="main">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <img src="{% static 'Logo.png'%}" alt="My image" id="blockimg" class="img-fluid" max-height="auto"
            max-width="100%">
        <h1 class="display-3">आह से उपजा गान...</h1>
        <p class="lead">A place for poetry, unimpeded, true and piercing...</p>
    </div>
</div><hr>
{% for blogpost in blogposts.all %}
  
<div class="container-fluid text-center">
<div class="blog-post">
  <a href= {% url 'detail' blogpost.id %}><h2 class="blog-post-title display-4">{{blogpost.title}}</h2></a>
  <p class="blog-post-meta display-6">Published on {{blogpost.prettydate}}</p>
  <img src="{{blogpost.image.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="img">
  <br>
  <p class="text-left">{{blogpost.summary}}</p>
  <hr>
  
</div>
</div>
{% endfor %}
</div>
</main>
  
{% endblock content %}

